.roadmap {
  padding: 9rem 2rem;
  background: var(--background);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.roadmapContainer {
  max-width: 1200px;
  margin: 0 auto;
}

.twoColumn {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;
  align-items: center;
}

@media (max-width: 1200px) {
  .twoColumn {
    grid-template-columns: 1fr;
    gap: 3rem;
  }
}